<html>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3595/3595458.png">
    <link rel="stylesheet" href="static/css/css.css">

	<head>
     <title>Ashley's Pizzeria</title>
    </head>

    <body>
    <!-- navbar that should appear on every page -->
        <div class="navbar">
            <ul>
                <li><a class = "logoLink" href="/">A Slice of Ashley's</a></li>
                <li><a class = "navBarLink" href="/signup">Log-In</a></li>
                <li><a class = "navBarLink" href="/signup">Sign-Up</a></li>
            </ul>
        </div>


    <!-- placeholder for content to be filled in by subsequent views -->
		{% block content %}

       <!-- Content provided by other templates will be filled in here -->
    {% endblock %}
	</body>
    <footer>
        <div class="footerText" style="padding-top: 30px; padding-bottom: 10px;">
            <p1>
                © 2024 Slice of Ashley. All rights reserved.
            </p1>
        </div>
    </footer>
</html>