<html>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/6978/6978255.png">
    <link rel="stylesheet" href="static/css/otherCss.css">

    
	<head>
     <title>Log In</title>
    </head>

    <body>
    <!-- navbar that should appear on every page -->
        <div class="navbar">
            <ul>
                <li><a class = "logoLink" href="/" style="text-decoration: none;">A Slice of Ashley's</a></li>
                <li><a class = "navBarLink" href="/profile" style="text-decoration: none;">Log-In</a></li>
                <li><a class = "navBarLink" href="/profile" style="text-decoration: none;">Sign-Up</a></li>
            </ul>
        </div>


    <!-- placeholder for content to be filled in by subsequent views -->
		{% block content %}

       <!-- Content provided by other templates will be filled in here -->
    {% endblock %}
	</body>
    <footer>
        <div class="footerText" style="padding-top: 30px; padding-bottom: 10px;">
            <p1>
                © 2024 Slice of Ashley. All rights reserved.
            </p1>
        </div>
    </footer>
</html>