<!DOCTYPE html>
<html lang="en">

<head>
    <title>Making Pizza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/6978/6978255.png">
    <link rel="stylesheet" href="static/css/otherCss.css">

    <!-- ############## Font Choices from Google ########################## -->

    <!-- ##### LIBRE FRANKLIN #####  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:wght@700&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">
</head>

<body>
    {% extends 'base2.html' %}

    {% block content %}
        <div class="login">
            <div class="loginBox">
                <div class="centerBoxTitle">
                    <h1>
                        A Slice of Ashley's
                        <br>
                        <section>
                            Create a pizza
                        </section>
                    </h1>
                </div>

                <form action="" method="post">
                    {% csrf_token %}
                    <h3>
                        Pizza Base
                    </h3>
                    <p>Size: {{ form.size }}</p>
                    <p>Crust: {{ form.crust }}</p>
                    <p>Sauce: {{ form.sauce }}</p>
                    <p>Cheese: {{ form.cheese }}</p>
                    <h3>
                        Pizza Toppings

                    <div class="toppingBox">
                        <div>
                            <input type="checkbox" value="Pepporoni"  name="toppings">
                            <label for="pepporoni" class="labelLabel">Pepporoni</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Chicken" name="toppings">
                            <label for="chicken" class="labelLabel">Chicken</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Ham" name="toppings">
                            <label for="ham" class="labelLabel">Ham</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Pineapple" name="toppings">
                            <label for="pineapple" class="labelLabel">Pineapple</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Mushrooms" name="toppings">
                            <label for="mushrooms" class="labelLabel">Mushrooms</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Onions" name="toppings">
                            <label for="onions" class="labelLabel">Onions</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Peppers" name="toppings">
                            <label for="peppers" class="labelLabel">Peppers</label>
                        </div>
                    </div>

                    <!-- </h3>
                    <p>Pepporoni: {{ form.pepporoni }}</p>
                    <p>Chicken: {{ form.chicken }}</p>
                    <p>Ham: {{ form.ham }}</p>
                    <p>Pineapple: {{ form.pineapple }}</p>
                    <p>Mushrooms: {{ form.mushrooms }}</p>
                    <p>Onions: {{ form.onions }}</p>
                    <p>Peppers: {{ form.peppers }}</p> -->

                    <a href="delivery"><button type="submit" class="submitButton">Create Pizza</button></a>

                </form>

            </div>
        </div>
    {% endblock %}
</body>

</html>