<!DOCTYPE html>

<!-- ############## Font Choice from Google ########################## -->

<!-- ##### LIBRE FRANKLIN #####  -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:wght@700&display=swap" rel="stylesheet">


<!-- ############## Font Choice from Google ########################## -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap" rel="stylesheet">

<!-- ############## MAIN CODE FOR index.html ########################## -->

<html>
    {% extends 'base.html' %}

    <!-- ##### NECESSARY LINKS ##### -->

    <head>
        <link rel="stylesheet" href="static/css/css.css">
    </head>

    <!-- ##### NECESSARY LINKS ##### -->


    {% block content %}
    <div class="homePage">
        <h1>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="homeTitle">
                <h2>
                    Create an Order?
                </h2>
                <a href="order"><button class="btn">Order Now!</button></a>
            </div>

            <br>
            <br>
            <br>
            <br>
            <img src="static/images/PIZZA.png" class="pizzaHome"/>
        </h1>
    </div>

    <div class="openingTimes">
        <div class="line">
            &nbsp;
        </div>
        <h1>
            Previous Orders
        </h1>
        <div class="line2">
            &nbsp;
        </div>
    </div>

        <div class="order">
            <div class="orderBox">
                {% for b in orders %}
                <h1>
                    Pizza Details {{ b.date }}
                </h1>

                <p><b>Size:</b> {{ b.size }}</p>
                <p><b>Crust:</b> {{ b.crust }}</p>
                <p><b>Sauce:</b> {{ b.sauce }}</p>
                <p><b>Cheese:</b> {{ b.cheese }}</p>
                <p><b>Toppings:</b> {{ b.toppings }}</p>
                {% endfor %}
            </div>

        </div>
        <br>
    </div>
	{% endblock %}
</html>